<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Learnlists</title>
  <link rel="stylesheet" href="/styles2.css">
</head>
<body>
  <div class="container">
    <h1>All Learnlists</h1>
    <ul>
      <% if (allLearnlists.length > 0) { %>
        <% allLearnlists.forEach(learnlist => { %>
          <li>
            <a href="/learnlists/<%= learnlist.id %>"><%= learnlist.name %></a> by <%= learnlist.username %>
            (Rating: <%= learnlist.average_rating %> Stars)
            <% if (currentUser.id === learnlist.user_id) { %>
              <a href="/learnlists/<%= learnlist.id %>/edit" class="btn btn-primary btn-sm">Edit</a>
              <form action="/learnlists/<%= learnlist.id %>/delete" method="post" style="display:inline;">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            <% } %>
          </li>
        <% }) %>
      <% } else { %>
        <li>No learnlists found.</li>
      <% } %>
    </ul>
  </div>
</body>
</html>
