<!DOCTYPE html>
<html>
<head>
  <title>All Learnlists</title>
</head>
<body>
  <h1>All Learnlists</h1>
  <ul>
    <% if (allLearnlists.length > 0) { %>
      <% allLearnlists.forEach(learnlist => { %>
        <li>
          <a href="/learnlists/<%= learnlist.id %>"><%= learnlist.name %></a> by <%= learnlist.username %>
          (Rating: <%= learnlist.average_rating %> Stars)
          <% if (currentUser.id === learnlist.user_id) { %>
            <a href="/learnlists/<%= learnlist.id %>/edit">Edit</a>
            <form action="/learnlists/<%= learnlist.id %>/delete" method="post" style="display:inline;">
              <button type="submit">Delete</button>
            </form>
          <% } %>
        </li>
      <% }) %>
    <% } else { %>
      <li>No learnlists found.</li>
    <% } %>
  </ul>
</body>
</html>
